.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 59px;

  font: inherit;
  font-weight: bold;
  text-transform: uppercase;
  color: $white;
  text-decoration: none;

  background: $jungle-green;
  border: 2px solid $jungle-green;
  border-radius: 2px;

  transition: all 0.3s linear;

  &:hover {
    background: $eucalyptus-green;
    border-color: $eucalyptus-green;
  }

  &:active {
    color: rgba($white, 0.3);
  }

  &:disabled {
    background: $mercury-gray;
    border-color: $mercury-gray;
  }
}
