.catalog {
  margin-bottom: 43px;
}

.catalog__subtitle {
  margin-top: 0;
  margin-bottom: 50px;

  text-align: center;
}

.catalog__subtitle-span {
  display: block;
}

.catalog__item-img-top {
  width: 100%;
  height: 137px;

  object-fit: cover;
}

.catalog__hero-descr {
  position: absolute;
  top: 0;
  right: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 36px;
  margin: 0;
  padding: 0 20px;

  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $white;

  background-color: $red;
}

.catalog__blockquote {
  margin: 0;
}

.catalog__blockquote--top {
  position: relative;

  margin-bottom: 20px;
}

.catalog__item-link {
  display: block;
}

.catalog__blockquote-content {
  display: flex;
  flex-direction: column;
  padding: 13px 10px 18px 17px;

  background-color: $concrete-gray;
}

.catalog__blockquote-author-box {
  order: 1;
  margin-bottom: 0;
}

.catalog__blockquote-counter {
  output {
    margin-left: 5px;
  }
  order: 3;
  display: flex;
  align-items: center;
  margin: 0;

  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $red;
}

.catalog__blockquote-text {
  order: 2;
  margin: 0;
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 24px;

  &--top {
    margin-bottom: 11px;
  }
}

.catalog__blockquote-text-span {
  display: block;
}

.catalog__blockquote-author {
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}

.catalog__blockquote-time {
  margin: 0;

  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
}

.catalog__heart-icon {
  order: -1;
  margin-right: 18px;

  fill: $red;
}

.catalog__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__item {
  margin-bottom: 21px;

  &:last-child {
    margin-bottom: 0;
  }
}

.catalog__item-img {
  width: 100%;
  height: 180px;

  object-fit: cover;
}

@media (min-width: 660px) {
  .catalog {
    margin-bottom: 63px;
  }

  .catalog__subtitle {
    max-width: 570px;
    margin: 0 auto;
    margin-bottom: 77px;
  }

  .catalog__subtitle-span {
    display: unset;
  }

  .catalog__blockquote--top {
    margin-bottom: 50px;
  }

  .catalog__item-img-top {
    height: 509px;
  }

  .catalog__hero-descr {
    top: 57px;
  }

  .catalog__blockquote-content {
    padding: 18px 30px 24px 30px;

    &--top {
      flex-direction: unset;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &--bottom {
      min-height: 155px;
    }
  }

  .catalog__blockquote-counter {
    &--top {
      order: 2;
      padding-top: 3px;
      margin-right: 2px;

      output {
        margin-right: 16px;
      }
    }

    &--bottom {
      margin-top: auto;
    }

    .catalog__heart-icon {
      margin-left: auto;
    }
  }

  .catalog__heart-icon {
    order: unset;
    margin-right: 0;
    fill: #d22856;
  }

  .catalog__blockquote-text {
    &--top {
      order: 3;
      width: 100%;
      margin-bottom: 0;
    }
  }

  .catalog__blockquote-text-span {
    display: unset;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

  .catalog__item {
    margin-bottom: 0;
  }

  .catalog__item-img {
    height: 300px;
  }
}

@media (min-width: 1200px) {
  .catalog {
    margin-bottom: 59px;
  }

  .catalog__subtitle {
    max-width: 571px;
    margin-bottom: 90px;
  }

  .catalog__hero-descr {
    top: 54px;
    right: calc(50% - 470px);
  }

  .catalog__list {
    gap: 54px 20px;
  }

  .catalog__item-img {
    height: 400px;
  }

  .catalog__item-img-top {
    height: 506px;
  }

  .catalog__blockquote-content {
    padding: 18px 30px 24px 28px;
  }
}
