.form {
  padding-bottom: 23px;
}

.form__inner {
  display: flex;
  flex-direction: column;
}

.form__subtitle-box {
  margin-bottom: 34px;
}

.form__subtitle {
  margin: 0;

  text-align: center;
}

.form__subtitle-span {
  display: none;
}

.form__fieldset {
  &--name {
    order: 1;
    margin-bottom: 44px;
  }

  &--apps {
    order: 4;
    padding: 39px 0 45px;

    background-color: $concrete-gray;
  }

  &--info {
    order: 3;
    padding: 34px 0 44px;
  }

  &--achievments {
    order: 2;
    padding: 35px 0 48px;

    background-color: $concrete-gray;
  }

  &--review {
    order: 5;
    padding: 33px 0 52px;
  }
}

.form__fieldset-box {
  margin: 0;
  padding: 0;

  border: none;
}

.form__button-box {
  order: 6;
}

.form__personal-info-content {
  margin-top: 0;
  margin-bottom: 19px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__descr {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 7px;

  font-size: 14px;
  color: $red;
  text-transform: uppercase;

  vertical-align: middle;

  &--dark {
    margin-bottom: 0;

    font-size: 18px;
    color: $clay;
    text-transform: unset;
  }

  &--name {
    padding-left: 24px;
  }

  &--info {
    display: none;
  }

  &--apps {
    margin-bottom: 37px;

    text-align: center;
    line-height: 18px;
  }

  &--achievments {
    display: block;
    max-width: 223px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 37px;

    text-align: center;
    line-height: 22px;
  }

  &--review {
    display: block;
    max-width: 188px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;

    text-align: center;
  }

  &--info-label {
    padding-left: 24px;
    margin-bottom: 6px;
  }

  &--radio {
    position: relative;
    padding-left: 70px;

    &::before {
      position: absolute;
      left: 2px;
      top: -3px;

      width: 37px;
      height: 37px;

      border: 2px solid $mercury-gray;
      border-radius: 50%;
      content: "";

      transition: all 0.1s linear;
    }

    &:hover::before {
      border-color: $clay;
    }

    &:active::before {
      border-color: $red;
    }
  }

  &--checkbox {
    position: relative;

    display: block;
    padding-left: 60px;

    &:hover::before {
      border-color: $clay;
    }

    &:active::before {
      border-color: $red;
    }

    &::before {
      position: absolute;
      top: -1px;
      left: 2px;

      width: 39px;
      height: 39px;

      background: $white;
      border: 2px solid $mercury-gray;
      border-radius: 1px;
      content: "";

      transition: all 0.1s linear;
    }
  }
}

.form__radio-input:checked + .form__descr--radio::after {
  position: absolute;
  left: 13px;
  top: 8px;

  width: 15px;
  height: 15px;

  background-color: $red;
  border-radius: 50%;
  content: "";
}

.form__checkbox-input:checked + .form__descr--checkbox::after {
  position: absolute;
  left: 8px;
  top: 9px;

  width: 22px;
  height: 16px;

  background: url("../img/tick.svg") no-repeat;
  content: "";
}

.form__radio-content {
  margin-top: 0;
  margin-bottom: 42px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.form__personal-info-input,
.form__contacts-input,
.form__textarea {
  outline: none;

  transition: all 0.3s linear;

  &:hover {
    border-color: $clay;
  }

  &:focus {
    border-color: $red;
  }
}

.form__personal-info-input {
  width: 100%;
  padding: 5px 20px;
  min-height: 59px;

  font: inherit;
  color: inherit;

  border: 2px solid $mercury-gray;
  border-radius: 1px;

  &::placeholder {
    font: inherit;
    color: inherit;
  }
}

.form__checkbox-content {
  margin-top: 0;
  margin-bottom: 52px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.form__contacts-input {
  width: 100%;
  padding: 5px 20px;
  min-height: 59px;

  font: inherit;
  color: inherit;

  border: 2px solid $mercury-gray;
  border-radius: 1px;

  &::placeholder {
    font: inherit;
    color: inherit;
  }
}

.form__contacts-content {
  &--tel {
    margin-bottom: 20px;
  }
}

.form__textarea-content {
  margin: 0;
}

.form__textarea {
  width: 100%;
  min-height: 197px;
  padding: 12px 25px 22px 20px;

  font: inherit;
  color: inherit;

  border: 2px solid $mercury-gray;
  border-radius: 1px;
  vertical-align: middle;

  resize: none;

  &::placeholder {
    font: inherit;
    color: inherit;
  }
}

.form__button {
  width: 100%;
  margin-bottom: 36px;
  text-align: center;
}

.form__text {
  margin: 0;

  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.form__text-span-star {
  color: $red;
}

.form__text-span-hidden {
  display: none;
}

@media (min-width: 660px) {
  .form {
    padding-bottom: 50px;
  }

  .form__subtitle-box {
    margin-bottom: 73px;
  }

  .form__subtitle {
    max-width: 490px;
    margin: 0 auto;
  }

  .form__subtitle-span {
    display: block;
  }

  .form__fieldset {
    &--name {
      order: 1;
      padding-bottom: 0;
      margin-bottom: 55px;
    }

    &--apps {
      order: 2;
      padding: 0;
      margin-bottom: 52px;
      background-color: unset;
    }

    &--info {
      order: 3;
      margin-bottom: 55px;
      padding: 0;
    }

    &--achievments {
      order: 4;
      padding: 0;
      margin-bottom: 52px;

      background-color: unset;
    }

    &--review {
      padding: 0;
      margin-bottom: 67px;
    }
  }

  .form__fieldset-box {
    &:not(.form__fieldset-box--name) {
      border: 2px solid $mercury-gray;
      border-radius: 1px;
    }

    &--apps {
      padding-bottom: 59px;
    }

    &--info {
      padding: 0 62px 28px 59px;
    }

    &--achievments {
      padding: 0 0 53px 58px;
    }

    &--review {
      padding: 0 58px 50px 59px;
    }
  }

  .form__personal-info-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 56px;
  }

  .form__descr {
    &--name {
      padding-left: 0;
      margin-right: 20px;
      margin-bottom: 0;
    }

    &--apps {
      display: block;
      max-width: 368px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 41px;
      padding: 0 25px;

      line-height: 30px;
    }

    &--info {
      display: block;
      max-width: 248px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 31px;
      padding: 0 25px;

      text-align: center;
    }

    &--info-label {
      padding-left: 17px;
      margin-bottom: 0;
    }

    &--achievments {
      max-width: unset;
      margin-bottom: 47px;
      margin-left: 33px;
      padding: 0 30px;

      text-align: initial;
    }

    &--checkbox {
      &::before {
        top: -3px;
      }
    }

    &--review {
      max-width: unset;
      margin-bottom: 28px;
      padding: 0 42px;
    }

    &--radio {
      padding-left: 59px;
    }
  }

  .form__radio-content {
    margin-left: 58px;
  }

  .form__contacts-content {
    position: relative;

    display: flex;
    flex-direction: column-reverse;

    &::before {
      position: absolute;
      top: 0;
      right: 0;

      width: 59px;
      height: 59px;

      content: "";
    }

    &--tel {
      margin-bottom: 31px;

      &::before {
        background: url("../img/phone-icon.svg") no-repeat center $mercury-gray;
      }
    }

    &--mail {
      &::before {
        background: url("../img/mail-icon.svg") no-repeat center $mercury-gray;
      }
    }
  }

  .form__contacts-input {
    margin-bottom: 12px;
  }

  .form__checkbox-input:checked + .form__descr--checkbox::after {
    top: 7px;
  }

  .form__textarea {
    padding: 17px 23px 23px 20px;
  }

  .form__button-box {
    margin-bottom: 5px;
  }

  .form__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form__button {
    max-width: 296px;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .form {
    padding-bottom: 0;
  }

  .form__container {
    max-width: unset;
    padding: unset;
    margin: unset;
  }

  .form__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .form__subtitle-box {
    width: 100%;
    margin-bottom: 64px;
  }

  .form__subtitle {
    max-width: 756px;
  }

  .form__subtitle-span {
    display: inline-block;
  }

  .form__fieldset {
    &--apps {
      width: 100%;
      max-width: 431px;
      margin-bottom: 50px;
    }

    &--name {
      width: 100%;
      max-width: 433px;
      padding-top: 22px;
      margin-right: 72px;
      margin-bottom: 48px;
    }

    &--info {
      width: 100%;
      margin-bottom: 55px;
    }

    &--achievments {
      width: 100%;
      margin-bottom: 50px;
    }

    &--review {
      width: 100%;
    }
  }

  .form__fieldset-box {
    &--info {
      display: flex;
      justify-content: space-between;
      padding: 0 62px 14px 59px;
    }

    &--achievments {
      padding: 0 9px 63px 57px;
    }

    &--review {
      padding: 0 60px 43px 60px;
    }
  }

  .form__checkbox-content-box {
    display: grid;
    grid-template-columns: repeat(3, 261px);
    row-gap: 51px;
    column-gap: 43px;
  }

  .form__personal-info-content {
    margin-bottom: 57px;
  }

  .form__descr {
    &--info {
      margin-bottom: 29px;
    }

    &--achievments {
      margin-left: 195px;
      margin-bottom: 45px;
    }

    &--review {
      margin-bottom: 26px;
    }
  }

  .form__radio-content {
    margin-left: 72px;
    margin-bottom: 44px;
  }

  .form__contacts-content {
    justify-content: flex-end;
    width: 100%;
    max-width: 371px;
    margin-bottom: 0;
  }

  .form__checkbox-content {
    margin-bottom: 0;

    &:nth-of-type(1) {
      order: 0;
    }

    &:nth-of-type(2) {
      order: 3;
    }

    &:nth-of-type(3) {
      order: 1;
      margin-left: 11px;
    }

    &:nth-of-type(4) {
      order: 4;
      margin-left: 11px;
    }

    &:nth-of-type(5) {
      order: 2;
    }

    &:nth-of-type(6) {
      order: 5;
    }
  }

  .form__checkbox-input:checked + .form__descr--checkbox::after {
    left: 10px;
  }

  .form__textarea {
    padding-top: 14px;
    min-height: 130px;
  }

  .form__button-box {
    width: 100%;
  }

  .form__text-span-hidden {
    display: initial;
  }
}
