.info {
  position: relative;

  &::before {
    position: absolute;
    top: 214px;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 788px;

    background-color: $concrete-gray;
    clip-path: polygon(0 4%, 100% 0, 100% 100%, 0 100%);
    content: "";
  }
}

.info__title-box {
  padding: 40px 0 59px;
}

.info__title {
  margin: 0;

  color: $clay;
  text-align: center;
}

.info__title-span {
  display: block;
  margin-bottom: 28px;
}

.info__list-box {
  padding-top: 53px;
}

.info__list {
  margin: 0;
  padding: 0;

  text-align: center;

  list-style: none;
}

.info__item {
  margin-bottom: 31px;

  &:last-child {
    margin-bottom: 0;

    &::after {
      display: block;
      margin: 0 auto;

      width: 157px;
      height: 277px;

      background: url("../img/info-3-mobile.png")  no-repeat;
      content: "";

      @media (min-resolution: 2dppx) {
        background-image: url("../img/info-3-mobile@2x.png");
        background-size: 157px auto;
      }
    }
  }
}

.info__item-title {
  margin-top: 0;
  margin-bottom: 12px;
}

.info__text {
  margin: 0;

  font-size: 14px;
  line-height: 24px;

  br {
    display: none;
  }
}

.info__text--smiley {
  margin-bottom: 41px;
}

.info__diagram {
  position: relative;

  display: none;
}

.info__diagram-row {
  display: flex;
  justify-content: center;
}

.info__diagram-img {
  position: relative;

  background: $white;

  &::before {
    display: block;

    width: 238px;
    height: 276px;

    background: url("../img/timer.svg") no-repeat;
    content: "";
  }
}

.info__diagram-content {
  max-width: 310px;
  padding-top: 45px;
  margin-left: 70px;
}

.info__diagram-title {
  max-width: 168px;
  margin-top: 0;
  margin-bottom: 9px;

  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

.info__link {
  display: inline-block;
  margin-top: 11px;

  font-size: 14px;
  line-height: 24px;
  color: $red;

  transition: all 0.3s linear;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 360px) {
  .info {
    &::before {
      height: 764px;
    }
  }
}

@media (min-width: 390px) {
  .info {
    &::before {
      height: 741px;
    }
  }
}

@media (min-width: 396px) {
  .info {
    &::before {
      height: 689px;
    }
  }
}

@media (min-width: 660px) {
  .info {
    margin-bottom: 102px;

    &::before {
      top: 194px;

      height: 485px;

      clip-path: polygon(0 11%, 100% 0, 100% 100%, 0 100%);
    }
  }

  .info__title-box {
    padding: unset;
    margin-bottom: 36px;
  }

  .info__list-box-inner {
    position: relative;

    min-height: 481px;

    &::after {
      position: absolute;
      left: 0;
      top: 0;

      width: 268px;
      height: 481px;

      background: url("../img/info-3-tablet.png") no-repeat;
      content: "";

      @media (min-resolution: 2dppx) {
        background-image: url("../img/info-3-tablet@2x.png");
        background-size: 268px auto;
      }
    }
  }

  .info__title {
    line-height: 54px;
  }

  .info__title-span {
    margin: unset;
  }

  .info__list-box {
    display: flex;
    justify-content: center;
    padding: unset;
    margin-bottom: 51px;
  }

  .info__list {
    max-width: 310px;
    margin-left: 310px;
    padding-top: 70px;

    text-align: unset;
  }

  .info__item {
    margin-bottom: 34px;

    &:last-child {
      margin-bottom: 0;

      &::after {
        display: none;
      }
    }
  }

  .info__text {
    br {
      display: initial;
    }

    &--diagram {
      margin-right: 14px;
    }

    .info__text-br {
      display: none;
    }
  }

  .info__text--smiley {
    margin-bottom: 0;
  }

  .info__diagram {
    display: block;
  }
}

@media (min-width: 1200px) {
  .info {
    margin-bottom: 66px;
    padding-bottom: 73px;

    &::before {
      top: 253px;

      display: initial;
      height: 1045px;

      clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
    }
  }

  .info__title-box {
    margin-bottom: 57px;
  }

  .info__title {
    line-height: 68px;
  }

  .info__list-box {
    display: block;
    margin-bottom: 68px;
  }

  .info__list-box-inner {
    position: unset;

    min-height: unset;

    &::after {
      display: none;
    }
  }

  .info__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 11px;
    max-width: unset;
    margin-left: unset;
    padding-top: unset;

    text-align: center;
  }

  .info__item {
    margin: unset;

    &::before {
      display: block;
      width: 300px;
      height: 299px;
      margin-bottom: 56px;

      content: "";
    }

    &:nth-child(1)::before {
      background: url("../img/info-1-desktop.png") no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/info-1-desktop@2x.png");
        background-size: 300px auto;
      }
    }

    &:nth-child(2)::before {
      background: url("../img/info-2-desktop.png") no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/info-2-desktop@2x.png");
        background-size: 300px auto;
      }
    }

    &:nth-child(3)::before {
      background: url("../img/info-3-desktop.png") no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/info-3-desktop@2x.png");
        background-size: 300px auto;
      }
    }
  }

  .info__item-title {
    max-width: 240px;
    margin-left: 33px;
    margin-bottom: 24px;
  }

  .info__text {
    max-width: 249px;
    margin: 0 auto;

    font-size: 18px;
    line-height: 30px;

    &--diagram {
      max-width: unset;
      margin-bottom: 31px;
      margin-right: 7px;
    }

    br {
      display: none;
    }

    .info__text-br {
      display: initial;
    }
  }

  .info__diagram-row {
    justify-content: initial;
  }

  .info__diagram-img {
    margin-right: 75px;

    background: unset;

    &::before {
      width: 298px;
      height: 345px;

      background: url("../img/timer-desctop.svg") no-repeat;
    }
  }

  .info__diagram-content {
    max-width: 534px;
    padding-top: 95px;
    margin-left: 0;
  }

  .info__diagram-title {
    max-width: unset;
    margin-bottom: 24px;

    line-height: 30px;

    br {
      display: none;
    }
  }

  .info__link {
    margin-top: unset;

    font-size: 18px;
    line-height: 30px;
  }
}
