.nav-list {
  margin: 0;
  padding: 0;

  list-style: none;

  &.nav-list--menu-close {
    display: none;
  }

  &.nav-list--menu-open {
    position: absolute;
    left: 0;
    right: 0;

    display: block;
    padding-top: 21px;
  }
}

.nav-list__item.nav-list__item--menu-open {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 65px;

  background: $clay;
  box-shadow: 0 1px 0 $black, inset 0 1px 0 rgba(255, 255, 255, 0.15);
}

.nav-list__link {
  color: $white;
  text-decoration: none;

  transition: all 0.3s ease;

  &:hover {
    color: $red;
  }

  &:active {
    color: rgba($red, 0.3);
  }

  &.nav-list__link--menu-open {
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    text-transform: uppercase;
  }
}

@media (max-width: 1199px) {
  .nav-list {
    padding-top: 16px;
  }

  .nav-list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 65px;

    background: $clay;
    box-shadow: 0 1px 0 $black, inset 0 1px 0 rgba(255, 255, 255, 0.15);
  }
}

@media (min-width: 660px) {
  .nav-list.nav-list--menu-open {
    padding-top: 40px;
  }
}

@media (min-width: 1200px) {
  .nav-list {
    display: flex;
    flex-wrap: wrap;
  }

  .nav-list.nav-list--menu-close {
    display: flex;
    flex-wrap: wrap;
  }

  .nav-list__link {
    position: relative;

    display: inline-block;
    padding: 0 40px;

    &--last-child {
      padding-right: 0;
    }
    font-size: 18px;
    line-height: 18px;

    &:active {
      color: rgba($white, 0.3);
    }

    &.nav-list__link--active {
      &::before {
        position: absolute;
        bottom: -12px;
        left: 39px;
        right: 39px;

        height: 2px;

        background-color: $white;
        content: "";
      }
    }
  }
}
