.upload {
  margin-bottom: 11px;
}

.upload__inner {
  text-align: center;
}

.upload__descr {
  margin-top: 0;
  margin-bottom: 43px;

  font-size: 14px;
  text-align: center;
}

.upload__content-box {
  padding: 20px 0 38px;

  background-color: $concrete-gray;
}

.upload__img-box {
  margin-bottom: 41px;
}

.upload__img {
  width: 280px;
  height: 374px;
}

.upload__list-box {
  padding-bottom: 34px;
  margin-bottom: 38px;

  border-bottom: 1px solid rgba($clay, 0.1);
}

.upload__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upload__item-button {
  padding: 0;
  margin-right: 31px;
  margin-bottom: 39px;

  border: none;
  background-color: transparent;
  vertical-align: middle;

  &:first-of-type {
    margin-left: -5px;
  }

  &:last-of-type {
    margin-right: 0;
  }

  &:hover {
    .upload__item-button-icon {
      fill-opacity: 0.5;
    }
  }

  &.upload__item-button--active {
    .upload__item-button-icon {
      fill: $red;
      fill-opacity: 1;
    }
  }
}

.upload__item-button-icon {
  fill: $clay;
  fill-opacity: 0.3;

  transition: all 0.3s ease;
}

.upload__range-input-box--hidden {
  display: none;
}

.upload__range-input {
  display: block;
  width: 100%;
  height: 2px;
  max-width: 240px;
  margin: 0 auto;

  appearance: none;
  background-color: transparent;

  &::-webkit-slider-thumb {
    width: 14px;
    height: 14px;
    margin-top: -6px;

    background: $white;
    border: 2px solid $red;
    border-radius: 50%;
    appearance: none;
    cursor: pointer;

    &:active {
      background-color: $red;
    }
  }

  &::-webkit-slider-runnable-track {
    width: 100%;
    max-width: 240px;
    height: 2px;
    margin: 0 auto;

    background-color: $clay;
  }

  &::-moz-range-thumb {
    width: 11px;
    height: 11px;

    background: $white;
    border: 2px solid $red;
    border-radius: 50%;
    appearance: none;
    cursor: pointer;

    &:active {
      background-color: $red;
    }
  }

  &::-moz-range-track {
    width: 100%;
    max-width: 240px;
    height: 2px;
    margin: 0 auto;

    background-color: $clay;
  }
}

.upload__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 280px;
  min-height: 55px;

  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;

  text-align: center;

  border-radius: 30px;

  transition: all 0.3s linear;

  &--submit {
    margin-bottom: 12px;

    color: $red;

    border: 3px solid $red;

    &:hover {
      color: $white;

      background-color: $red;
    }

    &:active {
      color: rgba($white, 0.3);
    }
  }

  &--cancel {
    color: rgba($clay, 0.1);

    border: 3px solid rgba($clay, 0.1);

    &:hover {
      color: rgba($clay, 0.3);

      border-color: rgba($clay, 0.3);
    }

    &:active {
      color: rgba($white, 0.3);

      background-color: rgba($clay, 0.3);
      border-color: transparent;
    }
  }
}

@media (min-width: 660px) {
  .upload {
    margin-bottom: 5px;
  }

  .upload__descr {
    max-width: 422px;
    margin: 0 auto;
    margin-bottom: 71px;
    font-size: 18px;
  }

  .upload__content-box {
    padding: 57px 0 54px;
  }

  .upload__inner {
    display: flex;
    justify-content: center;
    padding: 0 20px;
  }

  .upload__container {
    padding: 0;
  }

  .upload__img-box {
    margin-bottom: 0;
    margin-right: 45px;
  }

  .upload__form {
    width: 100%;
    max-width: 275px;
    padding-top: 18px;
  }

  .upload__img {
    width: 300px;
    height: 400px;
  }

  .upload__list-box {
    padding-bottom: 0;
    margin-bottom: 65px;

    border-bottom: none;
  }

  .upload__range-input-box {
    position: relative;

    padding-bottom: 34px;
    margin-bottom: 36px;

    border-bottom: 1px solid rgba($clay, 0.1);

    &--hidden {
      display: block;
    }

    &::before {
      position: absolute;
      left: 5px;
      top: -9px;

      content: "";
    }

    &--crop {
      &::before {
        width: 22px;
        height: 22px;

        background: url("../img/crop-tablet.svg") no-repeat;
      }
    }

    &--fill {
      &::before {
        width: 24px;
        height: 22px;

        background: url("../img/fill-tablet.svg") no-repeat;
      }
    }

    &--contrast {
      margin-bottom: 0;

      &::before {
        width: 16px;
        height: 16px;

        background: url("../img/contrast-tablet.svg") no-repeat;
      }
    }
  }

  .upload__range-input {
    max-width: 202px;
    margin: 0;
    margin-left: 51px;

    &::-webkit-slider-runnable-track {
      max-width: 202px;
    }

    &::-moz-range-track {
      max-width: 202px;
    }
  }

  .upload__item-button {
    display: none;
  }

  .upload__wrapper {
    margin-right: 10px;
  }

  .upload__button--submit {
    margin-bottom: 24px;
  }
}

@media (min-width: 1200px) {
  .upload {
    margin-bottom: 34px;
  }

  .upload__descr {
    margin-bottom: 65px;
  }

  .upload__content-box {
    padding: initial;
    background-color: initial;
  }

  .upload__inner {
    max-width: 940px;
    margin: 0 auto;
    padding: 57px 0 57px;

    background-color: $concrete-gray;
  }

  .upload__img-box {
    margin-left: 80px;
    margin-right: 85px;
  }

  .upload__form {
    max-width: 410px;
    margin-right: 60px;
  }

  .upload__list-box {
    margin-bottom: 179px;
  }

  .upload__range-input-box {
    &::before {
      top: -19px;
    }

    &--crop {
      &::before {
        width: 44px;
        height: 44px;

        background: url("../img/crop.svg") no-repeat;
      }
    }

    &--fill {
      &::before {
        width: 48px;
        height: 43px;

        background: url("../img/fill.svg") no-repeat;
      }
    }

    &--contrast {
      padding-bottom: 0;

      border-bottom: none;

      &::before {
        width: 32px;
        height: 32px;

        background: url("../img/contrast.svg") no-repeat;
      }
    }
  }

  .upload__range-input {
    max-width: 288px;
    margin-left: 92px;

    &::-webkit-slider-runnable-track {
      max-width: 288px;
    }

    &::-moz-range-track {
      max-width: 288px;
    }
  }

  .upload__wrapper {
    flex-direction: initial;
    align-items: initial;
    justify-content: space-between;
    margin-right: 0;
  }

  .upload__button {
    max-width: 183px;

    &--submit {
      margin-bottom: 0;
    }
  }
}
