// colors

$white: #ffffff;
$clay: #283645;
$red: #d22856;
$black: #000000;
$mercury-gray: #e5e5e5;
$concrete-gray: #f2f2f2;
$green: #3dc644;
$dark-blue: #252527;
$flamingo: #f25b26;
$blue: #2dabe2;
$light-green: #84c441;
$atlantis-green: #a4c639;
$orange: #f05423;
$yellow: #f9bc15;
$alto-gray: #dedede;
$gallery-gray: #efefef;
$jungle-green: #2aab6d;
$mirage-blue: #1d2631;
$eucalyptus-green: #1c9b5e;

// fonts

$opensans: "Open Sans", "Arial", sans-serif;

