.button {
  padding: 23px 0;

  font: inherit;
  text-transform: uppercase;
  color: $white;
  text-decoration: none;

  background: $jungle-green;
  border: 2px solid $jungle-green;
  border-radius: 1px;
}
