.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 59px;

  font: inherit;
  font-weight: bold;
  text-transform: uppercase;
  color: $white;
  text-decoration: none;

  background: $jungle-green;
  border: 2px solid $jungle-green;
  border-radius: 1px;
}
