.first {
  margin-bottom: 44px;

  background: $clay url("../img/bg-mobile.png") 0 0/cover no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg-mobile@2x.png");
    background-size: cover;
  }
}

.first__title {
  margin: 0;

  line-height: 33px;
  text-align: center;

  &--form {
    padding-top: 95px;
    padding-bottom: 44px;
  }

  &--catalog {
    padding-top: 95px;
    padding-bottom: 77px;
  }
}

@media (min-width: 660px) {
  .first {
    margin-bottom: 91px;

    background-image: url("../img/bg-tablet.png");


    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-tablet@2x.png");
      background-size: cover;
    }
  }

  .first__title {
    font-size: 50px;
    line-height: 68px;

    &--form {
      padding-top: 178px;
      padding-bottom: 59px;
    }

    &--catalog {
      padding-top: 177px;
      padding-bottom: 128px;
    }
  }
}

@media (min-width: 1200px) {
  .first {
    background-image: url("../img/bg-desktop.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-desktop@2x.png");
      background-size: cover;
    }
  }

  .first__title {
    &--form {
      padding: 171px 0 88px;
    }

    &--catalog {
      max-width: 357px;
      padding-top: 171px;
      padding-bottom: 87px;
      margin: 0 auto;
    }
  }
}
