.footer {
  padding: 31px 0;

  text-align: center;

  background-color: $white;
}

.footer__socials-list {
  margin-bottom: 41px;
}

.footer__link-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {
  margin: 0;
  margin-right: 15px;

  font-size: 14px;
  line-height: 18px;
}

.footer__link {
  &:hover {
    .footer__link-icon {
      fill: $clay;
    }
  }

  &:active {
    .footer__link-icon {
      opacity: 0.3;
    }
  }
}

.footer__link-icon {
  fill: $red;

  transition: all 0.3s ease;
}

// код для svg вставленного не через спрайт
// .footer__link {
//   path {
//     transition: all 0.3s ease-in-out;
//   }

//   &:hover {
//     path {
//       fill: $clay;
//     }
//   }

//   &:active {
//     path {
//       fill-opacity: 0.3;
//     }
//   }
// }

@media (min-width: 660px) {
  .footer {
    padding: 36px 0 40px;

    text-align: unset;
  }

  .footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__socials-list {
    margin-top: -2px;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .footer {
    padding: 70px 75px;
  }

  .footer__text {
    margin-right: 13px;

    font-size: 18px;
  }
}
