.form {
  padding-top: 54px;
  padding-bottom: 26px;
}

.form__container {
  display: flex;
  flex-direction: column;
}

.form__subtitle-box {
  margin-bottom: 55px;
}

.form__subtitle {
  margin: 0;

  text-align: center;
}

.form__subtitle-span {
  display: none;
}

.form__fieldset {
  &--name {
    order: 1;
    padding-bottom: 44px;
  }

  &--apps {
    order: 4;
    padding: 42px 0 42px;

    background-color: $concrete-gray;
  }

  &--info {
    order: 3;
    padding: 42px 0 44px;
  }

  &--achievments {
    order: 2;
    padding: 42px 0 44px;

    background-color: $concrete-gray;
  }

  &--review {
    order: 5;
    padding: 42px 0 52px;
  }
}

.form__fieldset-box {
  margin: 0;
  padding: 0;

  border: none;
}

.form__button-box {
  order: 6;
}

.form__personal-info-content {
  margin-top: 0;
  margin-bottom: 29px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form__descr {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 17px;

  font-size: 14px;
  color: $red;
  text-transform: uppercase;

  vertical-align: middle;

  &--dark {
    margin-bottom: 0;

    font-size: 18px;
    color: $clay;
    text-transform: unset;
  }

  &--name {
    padding-left: 24px;
  }

  &--info {
    display: none;
  }

  &--apps {
    margin-bottom: 52px;

    text-align: center;
    line-height: 18px;
  }

  &--achievments {
    margin-bottom: 44px;

    text-align: center;
  }

  &--review {
    margin-bottom: 22px;

    text-align: center;
  }

  &--info-label {
    padding-left: 24px;
  }
}

.form__radio-content {
  margin-top: 0;
  margin-bottom: 62px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.form__personal-info-input {
  width: 100%;
  padding: 5px 20px;
  min-height: 59px;

  font: inherit;
  color: inherit;

  border: 2px solid $mercury-gray;
  border-radius: 1px;

  &::placeholder {
    font: inherit;
    color: inherit;
  }
}

.form__checkbox-content {
  margin-top: 0;
  margin-bottom: 69px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.form__contacts-input {
  width: 100%;
  padding: 5px 20px;
  min-height: 59px;

  font: inherit;
  color: inherit;

  border: 2px solid $mercury-gray;
  border-radius: 1px;

  &::placeholder {
    font: inherit;
    color: inherit;
  }
}

.form__contacts-content {
  margin-bottom: 29px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.form__textarea-content {
  margin: 0;
}

.form__textarea {
  width: 100%;
  min-height: 197px;
  padding: 22px 25px 22px 20px;

  font: inherit;
  color: inherit;

  border: 2px solid $mercury-gray;
  border-radius: 1px;
  vertical-align: middle;

  resize: none;

  &::placeholder {
    font: inherit;
    color: inherit;
  }
}

.form__button {
  width: 100%;
  margin-bottom: 46px;
  text-align: center;
}

.form__text {
  margin: 0;

  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

.form__text-span-star {
  color: $red;
}

.form__text-span-hidden {
  display: none;
}

@media (min-width: 660px) {
  .form {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .form__subtitle-box {
    margin-bottom: 82px;
  }

  .form__subtitle {
    max-width: 490px;
    margin: 0 auto;
  }

  .form__subtitle-span {
    display: block;
  }

  .form__fieldset {
    &--name {
      order: 1;
      padding-bottom: 0;
      margin-bottom: 65px;
    }

    &--apps {
      order: 2;
      padding: 0;
      margin-bottom: 65px;
      background-color: unset;
    }

    &--info {
      order: 3;
      margin-bottom: 51px;
      padding: 0;
    }

    &--achievments {
      order: 4;
      padding: 0;
      margin-bottom: 64px;

      background-color: unset;
    }

    &--review {
      padding: 0;
      margin-bottom: 70px;
    }
  }

  .form__fieldset-box {
    &:not(.form__fieldset-box--name) {
      border: 2px solid $mercury-gray;
      border-radius: 1px;
    }

    &--apps {
      padding-bottom: 66px;
    }

    &--info {
      padding: 0 62px 37px 62px;
    }

    &--achievments {
      padding: 0 0 61px 62px;
    }

    &--review {
      padding: 0 58px 53px 59px;
    }
  }

  .form__personal-info-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 56px;
  }

  .form__descr {
    &--name {
      padding-left: 0;
      margin-right: 20px;
      margin-bottom: 0;
    }

    &--apps {
      margin-bottom: 61px;

      line-height: 30px;
    }

    &--info {
      display: unset;
      margin-bottom: 41px;

      text-align: center;
    }

    &--info-label {
      padding-left: 17px;
      margin-bottom: 0;
    }

    &--achievments {
      margin-bottom: 60px;
    }

    &--review {
      margin-bottom: 42px;
    }
  }

  .form__radio-content {
    margin-left: 62px;
  }

  .form__contacts-content {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 41px;
  }

  .form__contacts-input {
    margin-bottom: 22px;
  }

  .form__textarea {
    padding: 23px 23px 23px 20px;
  }

  .form__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .form__button {
    max-width: 296px;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .form {
    padding-bottom: 0;
  }

  .form__container {
    position: relative;

    max-width: 980px;
    margin: 0 auto;
  }

  .form__subtitle-box {
    margin-bottom: 95px;
  }

  .form__subtitle {
    max-width: 756px;
  }

  .form__subtitle-span {
    display: inline-block;
  }

  .form__fieldset {
    &--apps {
      margin-bottom: 0;
    }

    &--info {
      margin-bottom: 64px;
    }
  }

  .form__fieldset-box {
    &--name {
      max-width: 433px;
      min-height: 380px;
    }

    &--apps {
      position: absolute;
      top: 142px;
      right: 20px;

      width: 100%;
      max-width: 431px;
    }

    &--info {
      display: flex;
      justify-content: space-between;
      padding: 0 62px 23px 62px;
    }

    &--achievments {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 69px;
      padding: 0 66px 68px 62px;
    }

    &--review {
      padding: 0 60px 45px 60px;
    }
  }

  .form__descr {
    &--info {
      margin-bottom: 39px;
    }

    &--review {
      margin-bottom: 39px;
    }
  }

  .form__radio-content {
    margin-left: 74px;
  }

  .form__contacts-content {
    justify-content: flex-end;
    width: 100%;
    max-width: 371px;
    margin-bottom: 0;
  }

  .form__checkbox-content {
    margin-bottom: 0;

    &:nth-of-type(1) {
      order: 0;
    }

    &:nth-of-type(2) {
      order: 3;
    }

    &:nth-of-type(3) {
      order: 1;
    }

    &:nth-of-type(4) {
      order: 4;
    }

    &:nth-of-type(5) {
      order: 2;
    }

    &:nth-of-type(6) {
      order: 5;
    }
  }
}
