.intro {
  min-height: 733px;
}

.intro__title-box {
  background-color: $clay;
  background-image: url("../img/phone-mobile.png"), url("../img/bg-mobile.png");
  background-position: bottom center, center;
  background-size: 320px 286px, cover;
  background-repeat: no-repeat, no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/phone-mobile@2x.png"), url("../img/bg-mobile@2x.png");
    background-size: 320px auto, cover;
  }
}

.intro__title {
  margin: 0;
  padding-bottom: 314px;
  padding-top: 90px;

  text-align: center;
}

.intro__content-box {
  padding: 28px 0 33px;

  background-color: $mirage-blue;
}

.intro__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 280px;
  min-height: 55px;
  margin: 0 auto;
  margin-bottom: 32px;

  font-weight: bold;
  line-height: 18px;
  color: $white;
  text-decoration: none;
  text-align: center;

  border: 3px solid $white;
  border-radius: 29px;
  background-color: transparent;

  transition: all 0.3s ease;

  &:hover {
    color: $red;

    box-shadow: 0 5px 7px rgba(1, 1, 1, 0.75);
    background-color: $white;
  }

  &:active {
    color: rgba($red, 0.3);

    box-shadow: unset;
  }
}

.intro__list {
  margin-bottom: 20px;
}

.intro__text {
  margin: 0;

  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: $white;
}

@media (min-width: 660px) {
  .intro__title-box {
    background: unset;
  }

  .intro {
    min-height: 729px;
    margin-bottom: 47px;

    background-color: $clay;
    background-image: url("../img/phone-tablet.png"), url("../img/bg-tablet.png");
    background-position: bottom center, center;
    background-size: 660px 545px, cover;
    background-repeat: no-repeat, no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/phone-tablet@2x.png"), url("../img/bg-tablet@2x.png");
      background-size: 660px auto, cover;
    }
  }

  .intro__content-box {
    padding: unset;
    background-color: unset;
  }

  .intro__content-box-inner {
    max-width: 300px;
  }

  .intro__title {
    max-width: 247px;
    padding-top: 204px;
    padding-bottom: unset;
    margin-bottom: 30px;
    margin-left: 25px;
  }

  .intro__button {
    max-width: unset;
    margin-bottom: 46px;
  }

  .intro__list {
    margin-bottom: 33px;
  }

  .intro__text {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .intro {
    min-height: 853px;
    margin-bottom: 63px;

    background-color: $clay;
    background-image: url("../img/phone-desktop.png"), url("../img/bg-desktop.png");
    background-position: calc(50% + 69px) bottom, center;
    background-size: 1050px 645px, cover;
    background-repeat: no-repeat, no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/phone-desktop@2x.png"), url("../img/bg-desktop@2x.png");
      background-size: 1050px auto, cover;
    }
  }

  .intro__title {
    padding-top: 211px;
    margin-bottom: 35px;
  }

  .intro__button {
    max-width: unset;
    margin-bottom: 69px;

    font-size: 21px;
  }

  .intro__list {
    margin-bottom: 51px;
  }
}
