.logo {
  display: inline-block;
}

.logo__icon--desctop {
  display: none;
}

.logo__icon-path--glasses {
  display: none;
}

.logo__icon--header {
  margin-left: -73px;
}

.logo__icon--footer {
  display: inline-block;
  margin-bottom: 41px;

  vertical-align: middle;
}
