.logo {
  display: inline-block;
}

.logo__icon--desctop {
  display: none;
}

.logo__icon-path--glasses {
  display: none;
}

.logo__icon-path--words {
  fill: $white;
}

.logo__icon--header {
  margin-left: -70px;
}

@media (min-width: 660px) {
  .logo__icon--header {
    margin-left: unset;
  }

  .logo__icon-path--glasses {
    display: unset;

    fill: $white;
  }
}

@media (min-width: 1200px) {
  .logo__icon--header {
    display: none;
  }

  .logo__icon--footer {
    display: none;
  }

  .logo__icon--desctop {
    display: block;
  }

  .logo__icon--footer-desctop {
    .logo__icon-path--words {
      fill: $clay;
    }

    .logo__icon-path--star {
      fill: $clay;
    }

    .logo__icon-path--glasses {
      fill: $red;
    }

    .logo__icon-path--top-star {
      fill: $red;
    }
  }
}
