.price {
  position: relative;

  margin-bottom: 0;
  padding-bottom: 46px;

  background-color: $concrete-gray;

  &::before {
    position: absolute;
    top: -161px;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 506px;

    background: url("../img/price-bg-mobile.svg") no-repeat;
    content: "";
  }

  .container {
    padding: 0;
  }
}

.price__table {
  position: relative;

  width: 100%;
  margin-bottom: 41px;

  border-collapse: collapse;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 6%;
    z-index: 10;

    width: 2px;

    background-color: $mercury-gray;
    content: "";
  }

  &::after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 6%;

    width: 2px;

    background-color: $mercury-gray;
    content: "";
  }
}

.price__table-descr {
  margin-top: 0;
  margin-bottom: 1px;

  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: $white;
}

.price__table-price {
  margin: 0;

  font-weight: 300;
  font-size: 18px;
  text-transform: uppercase;
  color: $white;
}

.price__table-popular {
  position: absolute;
  top: 11%;
  left: 11%;

  margin: 0;

  font-size: 14px;
  text-transform: uppercase;
  color: $white;

  transform: rotate(-45deg);
}

.price__table-popular-span {
  position: absolute;
  top: 0;
  left: 7%;

  width: 74px;
  height: 74px;

  background: url("../img/hit-ribbon.svg") no-repeat;
}

.price__table-cell {
  width: 25%;
  height: 60px;

  &--head {
    position: relative;

    width: 25%;
    padding: 10px 0 25px;

    background: $clay;
    border: 2px solid $clay;
    border-radius: 1px 0 0 0;
  }

  &--body-hidden {
    display: none;
  }

  &--hidden {
    display: none;
  }

  &--body {
    padding-left: 40px;

    font-size: 14px;
    text-transform: uppercase;

    border: 2px solid $mercury-gray;
    border-radius: 1px 0 0 0;
  }

  &--yes {
    background: url("../img/yes.svg") 87% no-repeat;
  }

  &--no {
    background: url("../img/no.svg") 87% no-repeat;
  }
}


.hidden {
  display: none;
}

@media (min-width: 660px) {
  .price {
    margin-bottom: 10px;
    padding-bottom: 59px;

    &::before {
      top: -138px;
    }

    .container {
      padding: 0 20px;
    }
  }

  .price__table {
    width: 100%;
    margin-bottom: 0;

    border-collapse: collapse;

    &::before,
    &::after {
      display: none;
    }
  }

  .price__table-descr {
    margin-top: 0;
    margin-bottom: -2px;

    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: $white;
  }

  .price__table-price {
    margin: 0;

    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    color: $white;
  }

  .price__table-popular-span {
    position: absolute;
    top: -9px;
    left: -1%;
    width: 61px;
    height: 61px;
    background: url("../img/hit-ribbon-tablet.svg") no-repeat;
    overflow: hidden;
  }

  .price__table-popular {
    position: absolute;
    top: 8%;
    left: 3%;

    transform: rotate(-45deg);
  }

  .price__table-span {
    display: none;
  }

  .price__table-cell {
    display: table-cell;
    width: 25%;
    height: 47px;

    &--head {
      position: relative;

      width: 25%;
      height: 76px;
      padding: 10px 0 6px;

      background: $clay;
      border: 2px solid $clay;
      border-radius: 1px 0 0 0;

      overflow: hidden;
    }

    &--hidden {
      visibility: hidden;
      border: none;
    }

    &--body {
      padding-left: 15px;

      font-size: 14px;
      text-transform: initial;

      background-color: $white;
      border: 2px solid $mercury-gray;
      border-radius: 1px 0 0 0;
    }

    &--yes {
      background: url("../img/yes.svg") center no-repeat;
    }

    &--no {
      background: url("../img/no.svg") center no-repeat;
    }
  }

  .slider__dots--price {
    display: none;
  }
}

@media (min-width: 1200px) {
  .price {
    margin-bottom: 35px;
    padding-bottom: 62px;

    &::before {
      top: -159px;

      height: 534px;
      background: url("../img/price-bg-desctop.svg") no-repeat;
    }
  }

  .price__table {
    width: 100%;

    border-collapse: collapse;
  }

  .price__table-descr {
    margin-top: 0;
    margin-bottom: 3px;

    font-weight: bold;
    text-transform: uppercase;
    color: $white;
  }

  .price__table-price {
    margin: 0;

    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    color: $white;
  }

  .price__table-popular-span {
    position: absolute;
    top: 0;
    left: 1%;
    width: 74px;
    height: 74px;
    background: url("../img/hit-ribbon.svg") no-repeat;
  }

  .price__table-popular {
    position: absolute;
    top: 16%;
    left: 5%;
    transform: rotate(-45deg);
  }

  .price__table-cell {
    display: table-cell;
    width: 25%;
    height: 61px;

    &--head {
      position: relative;

      width: 25%;
      height: unset;
      padding-top: 13px;
      padding-bottom: 16px;

      background: $clay;
      border: 2px solid $clay;
      border-radius: 1px 0 0 0;

      overflow: hidden;
    }

    &--hidden {
      visibility: hidden;
      border: none;
    }

    &--body {
      padding-left: 22px;

      font-size: 18px;

      background-color: $white;
      border: 2px solid $mercury-gray;
      border-radius: 1px 0 0 0;
    }

    &--yes {
      background: url("../img/yes.svg") center no-repeat;
    }

    &--no {
      background: url("../img/no.svg") center no-repeat;
    }
  }
}

