.upload__descr {
  margin-top: 0;
  margin-bottom: 52px;

  font-size: 14px;
  text-align: center;
}

.upload__content-box {
  padding: 20px 0 41px;

  background-color: $concrete-gray;
}

.upload__img-box {
  margin-bottom: 43px;
}

.upload__img {
  width: 280px;
  height: 374px;
}

.upload__list-box {
  padding-bottom: 34px;
  margin-bottom: 38px;
}

// .upload__list {
//   margin: 0;
//   padding: 0;

//   list-style: none;
// }

// .upload__item {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }

// .upload__item-button {
//   order: -1;
// }

// .upload__tabs {
//   display: flex;
//   // flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   flex-wrap: wrap;
// }

.upload__item-button {
  padding: 0;
  margin-right: 35px;
  margin-bottom: 39px;

  border: none;
  background-color: transparent;

  &:first-of-type {
    padding-left: 37px;
  }

  &:last-of-type {
    margin-right: 0;
  }

  path {
    fill: $clay;
    fill-opacity: 0.3;
  }

  &--active {
    path {
      fill: $red;
      fill-opacity: 1;
    }
  }
}

.upload__range-input-box--hidden {
  display: none;
}

.upload__range-input {
  display: block;
  width: 100%;
  max-width: 280px;
  margin: 0 auto;
}

.upload__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 280px;
  min-height: 55px;

  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: $red;
  text-align: center;

  border: 3px solid $red;
  border-radius: 30px;

  &--submit {
    margin-bottom: 12px;
  }

  &:disabled {
    color: rgba($clay, 0.1);
    border: 3px solid rgba($clay, 0.1);
  }
}

@media (min-width: 660px) {
  .upload__descr {
    max-width: 422px;
    margin: 0 auto;
    margin-bottom: 78px;
    font-size: 18px;
  }

  .upload__content-box {
    padding: 57px 0 54px;
  }

  .upload__inner {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    .container {
      padding: 0;
    }
  }

  .upload__img-box {
    margin-bottom: 0;
  }

  .upload__form {
    width: 100%;
    max-width: 275px;
  }

  .upload__img {
    width: 300px;
    height: 400px;
  }

  .upload__list-box {
    padding-bottom: 0;
    margin-bottom: 67px;
  }

  // .upload__tabs {
  //   position: absolute;
  //   top: 0;
  //   right: 38px;

  //   width: 100%;
  //   max-width: 275px;
  // }

  .upload__range-input-box {
    padding-bottom: 34px;
    margin-bottom: 36px;

    &--hidden {
      display: block;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .upload__item-button {
    display: none;
  }

  .upload__wrapper {
    margin-right: 10px;
  }

  .upload__button--submit {
    margin-bottom: 24px;
  }
}

@media (min-width: 1200px) {
  .upload {
    margin-bottom: 28px;
  }

  .upload__descr {
    margin-bottom: 75px;
  }

  .upload__content-box {
    padding: 57px 0 57px;
  }

  .upload__inner {
    max-width: 980px;
    margin: 0 auto;
  }

  .upload__img-box {
    margin-left: 80px;
  }

  .upload__form {
    max-width: 410px;
    margin-right: 60px;
  }

  .upload__list-box {
    margin-bottom: 161px;
  }

  .upload__range-input-box {
    &:last-of-type {
      padding-bottom: 0;
    }
  }

  .upload__range-input {
    max-width: 288px;
  }

  .upload__wrapper {
    display: flex;
    justify-content: space-between;
    margin-right: 0;
  }

  .upload__button {
    max-width: 183px;

    &--submit {
      margin-bottom: 0;
    }
  }
}
